@media(max-width:992px){
    .menu{display: none;}
    .input{display: none;}
    .fa-bars{display: block;}
    .fa-shop{display: none;}
     
    
}
@media(max-width:768px){
    
    .img-class{height: 450px;}
}
@media(max-width:576px){
.featured h3{font-size: 15px; margin-left:-30px}
.featured-img img{width: 10px;}
    
}